


/*responsive navigation*/
@media screen and (max-width: 600px) {
  .topnav>a{display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav .toogle-btn-container {
    float: right;
    display: block;
  }
  .toogle-btn-container{
    margin-top: 15px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 320px) {
  .box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
  }
  .contact-lbl{
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 10%;
  }
  .contact-txt{
    font-size: 18px;
    text-align: center;
    color: white;
  }
  .container, main{
    padding-top: 55vh;
  }
  .content-group{
    margin: 10% 0 30% 0;
  }
  .content-title{
    font-size: 24px;
  }
  .content-sub-title{
    font-size: 18px;
  }
  .divider{
    width: 90%;
    border: 1px solid white;
    margin: 10px auto 10px auto;
  /*  border-left; none;*/
  /*  margin: auto;
    padding: 10px 0 10px 0;*/
  }
  .divider-sm{
    width: 60%;
    border: 0.1px solid white;
    border-width: thin;
    margin: 10px auto 10px auto;
  }
  .divider-xs{
    width: 60vw;
    border: 0.1px solid white;
    border-width: thin;
    margin: 10px auto 10px auto;
  }
  footer{
/*    width: 100vw;
    height: 20%;*/
/*    display: flex;
    align-items: center;
    justify-content: center;*/
  }
  #footer-img img{
    position: absolute;
    width: 80%;
    margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
        padding-bottom: 80px;
/*    height: 100vh;*/
/*    object-fit: cover;*/
/*    top: 0;*/
    left: 0;
    right: 0;
/*    bottom: 0;*/
  }
  .highlighted{
   /* text-decoration: underline !important;*/
   border-bottom: solid white 2px;
   width: 20%;
   margin: auto;
  }
  .icon{
    margin-left: 5px;
  }
  main{
    max-width: 100%;
    margin: auto;
  }
  .link-container{
  font-size: 14px;
  }
  .landing-txt{
    font-size:1.5em;
    margin: 25% 10%;
    text-align: center;
  }
  .profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  /*position: absolute;*/
  }
  .project-container{
    border-radius: 5px;
    width: 70%;
    height: auto;
    margin: 10% auto;
    padding: 20px 10px 20px 10px;
  }
  .project-details{
    font-size: 14px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 50px;
  }
  .project-details-container{
    margin-top: 10%;
  }
  .project-img{
    width: 80%;
    height: auto;
    display: block;
  }
  .project-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
  .projects-list-container{
    margin-top: 15%;
  }
  .project-tag-container{
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: 30px;
    margin: 10% auto;
    width: 80%;
  }
  .project-title{
    font-size: 1.2em;
    text-decoration: underline;
  }
  .profile-txt{
    font-size: 14px;
    margin: 20px;
  }
  .skills{
    margin-top: 10%;
  }
  .skills-container{
    margin-top: 13%;
  }
  .skills-sub-container{
    margin-top: 10%;
  }
  .skill-icon{
    width: 70px;
    height: 70px;
  }
  /*icons need to overide the style*/
  .git-icon{
    width: 80px !important;
    margin-left: -10px;
    margin-top: 5px;
  }
  .sql-icon{
     width: 40px !important;
     margin-left: 30px;
  }
  .skill-txt{
    font-size: 20px;
    margin-left: 10px;
  }
  /*tags*/
/*  .html-tag{
    width: 30px;
  }
  .css-tag{
    width: 40px;
  }
  .chartjs-tag{
    width: 50px;
  }
  .js-tag{
    width: 50px;
  }*/
  .tag-container{
    border-radius: 5px;
    color: white;
    font-size: 10px;
    padding: 8px;
  }
/*  .tag-txt{
    font-size: 14px;
    padding: 8px;
  }*/
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: right;
    margin-right: 20px;
  }
  .topnav.responsive{
    height: 280px !important;
  }
}
@media screen and (min-width: 370px){
  .profile-container{
    margin-top: 10%;
  }
  .profile-txt{
    text-indent: 50px;
  }
}

@media screen and (min-width: 601px) {
  .contact{
/*    margin-top: 50%;*/
  }
  .content-group{
    margin: 10% 0 10% 0;
  }
   #footer-img img{
    position: absolute;
    width: 50%;
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;

    left: 0;
    right: 0;
/*    bottom: 0;*/
  }
  .highlighted{
   /* text-decoration: underline !important;*/
   border-bottom: solid white 2px;
   width: 10%;
  /*   margin: auto;*/
  }
  .landing-txt{
    font-size: 3em;
    margin: 15%;
  }
  .project-container{
    width: 60%;
  }
  .project-title{
    font-size: 1.5em;
  }
  .profile-txt-container{
    width: 90%;
    margin: auto;
  }
  .skills{
    margin-top: 5%;
  }
  .skills-part-one{
    display: grid;
    grid-template: repeat(2, 100px)/ repeat(2, 1fr);
    grid-gap: 10px;
  }

  .switch{
    margin-top: 5px;
    margin-left: 10%;
  }
  .topnav{
    padding-top: 15px;
    padding-left: 10px;
  }
  .toogle-btn-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
 /*   float: right;*/
    z-index: 3;
  }
}

@media screen and (min-width: 700px){
  .profile-container{
    margin-top: 5%;
  }
  .skills-part-two{
    display: grid;
    grid-template: repeat(2, 100px)/ repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (min-width: 800px){
  .about{
    margin-bottom: 20%;
  }
  .combine{
    display: flex;
  }
  #footer-img img{
    margin-top: -2%;
  }
  .nav-container{
    margin-left: 25%;
  }
  .profile-txt{
    font-size: 1.1em;
  }
  .project-container{
    width: 80%;
  }
  .project-content{
    margin: 0 2% 0 2%;
  }
  .project-details-container{
      order: -1;
  }
  .project-tag-container{
    margin: 2% auto 5% 2%;
  }
}

@media screen and (min-width: 1000px){
  main{
    max-width: 900px;
    margin: auto;
  }
  .landing-txt{
    font-size: 3em;
    margin-top: 10%;
  }
}