

/*fonts*/

@font-face {
font-family: 'Gilroy-Bold';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Bold'), url('../font/Gilroy-Bold.woff') format('woff');
}

@font-face {
font-family: 'Gilroy-Regular';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Regular'), url('../font/Gilroy-Regular.woff') format('woff');
}

@font-face {
font-family: 'Gilroy-Medium';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Medium'), url('../font/Gilroy-Medium.woff') format('woff');
}


:root{
  --blue: #30B9E7;
  --dark-blue: #1C86A8;
  --green: #17E983;
  --dark-green: #09B665;
  --orange:#FACD79;
  --dark-orange: #DAB269;
  --light-shadow: #007399;
  --night-shadow: #022e39;
  --profile-light: #b0e1f7;
  --profile-night: #7134bb;
}

/*#section1{
  top: 0;
}*/

/*global style*/
body{
	background-color: #0091c2;
	overflow-x: hidden;
  margin: 0;
  padding: 0;
}
ul, li{
  text-decoration: none;
  list-style-type: none;
}
/*colors*/
.blue-bg{
  background-color: var(--blue);
}
.orange-bg{
  background-color: var(--orange);
}
.green-bg{
  background-color: var(--green);
}
.dark-green-tag{
  background-color: var(--dark-green);
}
.dark-orange-tag{
  background-color: var(--dark-orange);
}
.dark-blue-tag{
  background-color: var(--dark-blue)
}
.contact-lbl, .landing-txt{
  color: white;
  font-family:'Gilroy-Bold';
  font-weight:normal;
  text-align: center;
}
.container{
  width: 100%;
}
.content-title{
  color: white;
  font-family: 'Gilroy-Medium';
  font-weight: normal;
  text-align: center;
}
.contact-txt, .content-sub-title,
.link-txt, .profile-txt, 
.project-details, .project-title, 
.skill-txt, .tag-container{
  color: white;
  font-family: 'Gilroy-Regular';
  font-weight: normal;
  text-align: center;
}
/* when a link is clicked, it gets highlighted */
.highlighted{
 /* text-decoration: underline !important;*/
 /*border-bottom: solid white 1px;*/
/* transition: 0.5s;*/
/* width: 40%;*/

}
.landing-txt-container{
  position: absolute;
  z-index: 1; 
  width: 100%;
}
.link-container{
  text-align: center;
}
.link-txt{
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
.profile-container, .profile-bg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img, .project-container{
  transition: 0.5s;
}
.profile-light{
  background-color: var(--profile-light);
}
.profile-night{
  background-color: var(--profile-night);
}
.project-container{
  cursor: pointer;
}
.project-link{
  text-decoration: none;
}
.skill-list-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*project main shadow*/
.light-shadow{
 /* #007399*/
 box-shadow: 5px 5px 1px 2px var(--light-shadow);
}
.night-shadow{
 box-shadow: 5px 5px 1px 2px var(--night-shadow); 
}
/*project img box-shadows*/
.blue-shadow{
   box-shadow: 5px 5px 1px 2px var(--dark-blue);
}
.green-shadow{
  box-shadow: 5px 5px 1px 2px var(--dark-green);
}
/*DAB269*/
.orange-shadow{
   box-shadow: 5px 5px 1px 2px var(--dark-orange);
}
#img_default{
/*  transition-delay: 1s;*/
}
/*nav bar style*/
.topnav{
  font-family:'Gilroy-Regular';
 /* background: #2c48b6;*/
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  text-align: center;
 /* transition: top 0.5s ease-in-out;*/
  transition: .5s;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#landing-img img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav-bg-light{
  background: #6bc1e7;
  height: 70px;
}
.nav-bg-night{
  background: #5b2a96;
  height: 70px;
}
.nav-bg-i{
  background: #2c48b6 !important;
}
.nav-container{
  z-index: 2; position: absolute;
}
.topnav .icon{
  display: none;
}
.topnav.hide {
   top: -100px;
}
.toggle-hide{
  display: none !important;
}
/* animated menu icon style*/
.bar-container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*toogle button config START*/
/*toogle button design*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
/*default slider bg color*/
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #82ccec;
/*  border: solid black 5px;*/
  -webkit-transition: .4s;
  transition: .4s;
}
/*when the slider(circle) at the left*/
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: url(../img/svg/light_mode.svg) center center no-repeat;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-color: #6bc1e7;
  -webkit-transition: .4s;
  transition: .4s;
}
/*when the slider at the right*/
input:checked + .slider {
  background-color: #9537c2;
}
/*when the slider(circle) at the right*/
input:checked + .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: url(../img/svg/dark_mode.svg) center center no-repeat;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-color: #7134bb;
  -webkit-transition: .4s;
  transition: .4s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*toogle button config END*/

/*light mode/ night mode style*/

/*transitions*/
body{
  transition: 0.9s;
}


/*ligth mode*/

.body-lht{
  background-color: #0091c2;
}

/*night mode*/

.body-drk{
  background-color: #003b4f !important;
}

