

/*fonts*/

@font-face {
font-family: 'Gilroy-Bold';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Bold'), url('../font/Gilroy-Bold.woff') format('woff');
}

@font-face {
font-family: 'Gilroy-Regular';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Regular'), url('../font/Gilroy-Regular.woff') format('woff');
}

@font-face {
font-family: 'Gilroy-Medium';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Medium'), url('../font/Gilroy-Medium.woff') format('woff');
}



/*global style*/
body{
	background-color: #0091c2;
	overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.container{
  width: 100vw;
}
/*.profile-bg{
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 50%;
  margin: auto;
}*/
.profile-container, .profile-bg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-title{
  color: white;
  font-family: 'Gilroy-Medium';
  font-weight: normal;
  text-align: center;
}
.content-sub-title, .profile-txt, .skill-txt{
  color: white;
  font-family: 'Gilroy-Regular';
  font-weight: normal;
  text-align: center;
}
.landing-txt-container{
  position: absolute;
  z-index: 1; 
}
.landing-txt{
  color: white;
  font-family:'Gilroy-Bold';
  font-weight:normal;
  text-align: center;
}
.skill-list-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#img_default{
/*  transition-delay: 1s;*/
}
/*nav bar style*/
.topnav{
  font-family:'Gilroy-Regular';
 /* background: #2c48b6;*/
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  text-align: center;
 /* transition: top 0.5s ease-in-out;*/
  transition: .5s;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#landing-img img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav-bg-light{
  background: #99d6f2;
  height: 70px;
}
.nav-bg-night{
  background: #5b2a96;
  height: 70px;
}
.nav-bg-i{
  background: #2c48b6 !important;
}
.nav-container{
  z-index: 2; position: absolute;
}
.topnav .icon{
  display: none;
}
.topnav.hide {
   top: -100px;
}
.toggle-hide{
  display: none !important;
}
/* animated menu icon style*/
.bar-container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*toogle button config START*/
/*toogle button design*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
/*default slider bg color*/
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #82ccec;
/*  border: solid black 5px;*/
  -webkit-transition: .4s;
  transition: .4s;
}
/*when the slider(circle) at the left*/
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: url(../img/svg/light_mode.svg) center center no-repeat;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-color: #6bc1e7;
  -webkit-transition: .4s;
  transition: .4s;
}
/*when the slider at the right*/
input:checked + .slider {
  background-color: #9537c2;
}
/*when the slider(circle) at the right*/
input:checked + .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: url(../img/svg/dark_mode.svg) center center no-repeat;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-color: #7134bb;
  -webkit-transition: .4s;
  transition: .4s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*toogle button config END*/

/*light mode/ night mode style*/

/*transitions*/
body{
  transition: 0.9s;
}


/*ligth mode*/

.body-lht{
  background-color: #0091c2;
}

/*night mode*/

.body-drk{
  background-color: #003b4f !important;
}

